body{
    font-family: sans-serif;
}

.base-flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

}


.snippet-grid{
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    margin-top: 20px;
    padding: 10px;
    padding-bottom: 20px;
}

.snippet-card{
    width: 22%;
box-shadow: #808080b3 0px 3px 4px 0px;
    border-radius: 8px;
    background-color: white;
    margin: 20px 10px;
    overflow: hidden;
}

.snippet-card-thumbnail{
    width: auto;
    height: 50%;
    position: relative;
    overflow: hidden;
}

.snippet-card-thumbnail>img{
    width: 100%;
}

.snippet-card-data{
    flex-direction: column;
    padding: 0.5rem;
    height: 50%;
}

.snippet-card-about{
    width: 100%;
    justify-content: space-around;
    padding-right: 10px;
}

.snippet-card-title{

    width: 100%;
    position: absolute;
    color: white;
    top: 0px;
    padding: 13px 10px;
    background: linear-gradient(
        179deg, #000000, #000000a1,transparent);
    font-size: 1.1rem;

}

.snippet-card-about>img{
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

.snippet-card-about>div{
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    padding-left: 0.5rem;
    
}

