.loading-screen{
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h70h{
	height: 70vh;
}

.milk-bottle {
	width: 30%;
	height: 30%;
}

.mask-rect {
	animation: fill 2s ease-in-out infinite;
}

@keyframes fill {
	0% { height: 0; }
	50% { height: 100%; }
	100% { height: 0; }
}

// @media screen and (max-width: 500px) {
// 	.milk-bottle {
// 		width: 30%;
// 		height: 30%;
// 	}
	

// }