.login-screen{
    padding: 40px;
      background: white;
      box-shadow: lightgrey 2px 2px 20px 0px;
      border-radius: 10px;
    position: absolute;
    top: 20%;
    justify-content: center;
  
    div{
      width: 15rem;
      h3{
        text-align: center;
        margin-bottom: 50px;
      }
    }
  
  }