.snippet-card {
    width: 330px;
    box-shadow: #808080b3 0px 3px 4px 0px;
    border-radius: 8px;
    background-color: white;
    margin: 20px 10px;
    overflow: hidden;
    transition: ease 0.4s;
    transform: scale(1);
    position: relative;
    display: inline-block;
  
    .snippet-card-thumbnail {
 
      position: relative;
      overflow: hidden;
      cursor: pointer;
      img { width: 100%; }
  
      h2 {
        width: 100%;
        position: absolute;
        color: white;
        top: 0px;
        padding: 20px 10px;
        background: linear-gradient(
    179deg, #1119, transparent);
    
        font-size: 1.1rem;
      }
    }
  }
  
  .snippet-card:hover {
    transform: scale(0.95);
    transition: ease 0.4s;
  }
  
    .snippet-card-about {
      width: 100%;
      justify-content: space-around;
      padding-right: 10px;
      padding: 0.5rem;
      height: 50%;
  
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
  
      div {
        flex-direction: column;
        flex: 1;
        align-items: flex-start;
        padding-left: 0.5rem;
      }
    }
  

  @media screen and (max-width: 500px) {
    .snippet-card{
      width: 44%;
      .snippet-card-about{
        flex-direction: row;
        button{ display: none;}
        div{
          overflow: hidden;
          text-align: left;
          width: 100%;
          span{ font-size: 0.9rem; }
          figcaption{font-size: 0.8rem;}
        }
     
      }
    }
  }


