$sucess: #198754;


body{
    font-family: sans-serif;
}

.App{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.base-flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

}


.area-div {
  width: 100%;
    padding: 30px 0px;
    h2 {
      font-size: 1.4rem;
      margin-top: 20px;
      margin-bottom: 10px;

    }
  }


  nav{
    width: 95%; 
    margin: auto
  }

.languages-button {
    background-color: white;
    border: none;
    color: black;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: ease 0.2s;
  }
  
  .languages-button:hover {
    background-color: #0d6efd;
    color: white;
    transition: ease 0.2s;
  }
  
  .modal-dialog.custom {
    max-width: 60%;
  }


.snippet-grid {
  width: 100%;
  flex-direction: column;
  background-color: whitesmoke;

  .snippet-grid-head {
    width: 90%;
    margin-top: 2rem;
  }

  .snippet-grid-wrapper {
    width: 100%;
    align-items: center;
    justify-content: center;

    padding: 10px;
    padding-bottom: 20px;
  }
}

  .snippet-card {
    width: 280px;
    box-shadow: #808080b3 0px 3px 4px 0px;
    border-radius: 8px;
    background-color: white;
    margin: 20px 10px;
    overflow: hidden;
    transition: ease 0.4s;
    transform: scale(1);
    position: relative;
    display: inline-block;
  
    .snippet-card-thumbnail {
      width: auto;
      height: 50%;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      img { width: 100%; }
  
      h2 {
        width: 100%;
        position: absolute;
        color: white;
        top: 0px;
        padding: 13px 10px;
        background: linear-gradient(179deg, #000000, #000000a1, transparent);
        font-size: 1.1rem;
      }
    }
  }
  
  .snippet-card:hover {
    transform: scale(0.95);
    transition: ease 0.4s;
  }
  
  .snippet-card-data {
    flex-direction: column;
    padding: 0.5rem;
    height: 50%;
  
    .snippet-card-about {
      width: 100%;
      justify-content: space-around;
      padding-right: 10px;
  
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
  
      div {
        flex-direction: column;
        flex: 1;
        align-items: flex-start;
        padding-left: 0.5rem;
      }
    }
  }



.snippet-page {
  width: 98%;
  margin: 15px 0px;
  padding: 15px;
  background-color: white;

  .snippet-page-wrapper { flex-direction: row; justify-content: space-between;align-items: flex-start;}
  .snippet-about { justify-content: space-between; width: 70%;}
  .snippet-code-holder{
    padding-top: 0px;
    .sHead{
      width: 95%;
    justify-content: space-between;
    margin-bottom: 0px;
    }
    .badge-holder{ width: 95%; span{margin: 10px 5px;}}

    pre {
      border: 1px solid #ddd;
      border-left: 3px solid $sucess;
      page-break-inside: avoid;
      font-family: monospace;
      font-size: 15px;
      line-height: 1.6;
      margin-bottom: 1.6em;
      width: 95%;
      word-wrap: break-word;
      background-color: #272822;
      color: white;
      padding: 20px 0px;
    }
    span { margin: 0px;}
  }

  .snippet-description-holder {
    p {
      width: 95%;
      border: 1px solid #ddd;
      border-left: 3px solid $sucess;
      padding: 1em 1.5em;
      display: block;
      word-wrap: break-word;
    }
  }
}

.snippet-author-info {
  width: 30%;
  text-align: center;
  display: flex;
  border: 1px solid #ddd;
  border-left: 3px solid $sucess;
  padding: 30px 0px;
  height: 100%;
  justify-content: center;

  .author-holder {
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;

    img {  width: 90px;  height: 90px;  border-radius: 50%;}
    h2.author-name { font-size: 1.4rem;}
    p { font-size: 1rem;width: 80%;}
  }
}


.suggested-snippet-holder {
  margin-top: 0px;
  width: 100%;

  .suggest-head {
    justify-content: space-between;
    padding-bottom: 10px;
    .slide-btn-holder { button { margin: 0px 5px;}}
  }

  .snippet-scroller-div {
    width: 98%;
    overflow: scroll;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .snippet-scroller-div::-webkit-scrollbar {width: 0;}
}