
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.base-flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.area-div {
  width: 100%;
  padding: 30px 0px;
    h2 {
      font-size: 1.4rem;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }









