.customButton{
    background-color: #ec0000;
    padding: 5px 13px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 15px 0px;
   
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
    border: 1.5px solid #ec0000;
    font-size: 0.9rem;
    cursor: pointer;
}

.customButtonFilled{
    background-color: #ec0000;
    color: white;
}

.customButtonFilled:hover{
    background-color: transparent;
    color: #ec0000;
}

.customButtonOutline{
    background-color: transparent;
    color: #ec0000;
}

.customButtonOutline:hover{
    background-color: #ec0000;
    color: white;
}

.customButtonOutlineNoHiver{
    background-color: transparent;
    color: #ec0000;
}

.customButtonFilledNoHover{
    background-color: #ec0000;
    color: white;
}