
.home{
    width: 337px;
    height: 253px;
}

.save{
    width: 278px;
    height: 193px;
}

.card{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin: 20px;
    position: relative;
    transition: ease 0.3s;
}


.card:after {
    content: "";
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgb(0 0 0 / 30%);
    opacity: 0;
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover:after {
    opacity: 1;
}

.card:hover{
    transform: scale(95%);

}

.cardThumb{
    width: 100%;
    height:100%;
    border-radius: 8px;
}


.cardData{
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    color: white;
    border-radius: 8px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(62%, transparent), color-stop(63.94%, rgba(0,0,0,0.00345888)), color-stop(65.89%, rgba(0,0,0,0.014204)), color-stop(67.83%, rgba(0,0,0,0.0326639)), color-stop(69.78%, rgba(0,0,0,0.0589645)), color-stop(71.72%, rgba(0,0,0,0.0927099)), color-stop(73.67%, rgba(0,0,0,0.132754)), color-stop(75.61%, rgba(0,0,0,0.177076)), color-stop(77.56%, rgba(0,0,0,0.222924)), color-stop(79.5%, rgba(0,0,0,0.267246)), color-stop(81.44%, rgba(0,0,0,0.30729)), color-stop(83.39%, rgba(0,0,0,0.341035)), color-stop(85.33%, rgba(0,0,0,0.367336)), color-stop(87.28%, rgba(0,0,0,0.385796)), color-stop(89.22%, rgba(0,0,0,0.396541)), color-stop(91.17%, rgba(0,0,0,0.4)));
}

.cardTitle{
    margin: 0px;
    font-size: 1.1rem;
    white-space: nowrap; 
  width: 90%; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.cardAuthor{
    margin: 0px;
    color: lightgray;
    font-size: 0.9rem;
}

@media only screen and (max-width: 500px) {

    /* .home{
        width: 40%;
        height: 150px;
    } */

    .card{
        margin: 10px;
    }

}