@font-face {
  font-family: myFirstFont;
  src: url('../public/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

.loader{
  display: block;
  position: relative;
  height: 32px;
  width: 150px;
  box-sizing: border-box;
  overflow: hidden;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
}
.loader:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #FF3D00;
  animation: ballbns 3s ease-in-out infinite;
}

@keyframes ballbns {
  0% {  
      left: 0; 
      transform: translateX(0%); 
      box-shadow: 
      -5px 0 0 -1px rgba(255, 61, 0, 0.9),
      -10px 0 0 -2px rgba(255, 61, 0, 0.8),
      -15px 0 0 -4px rgba(255, 61, 0, 0.6),
      -20px 0 0 -6px rgba(255, 61, 0, 0.4),
      -25px 0 0 -8px rgba(255, 61, 0, 0.2);
  }
  49% {  
      left: 100%; 
      transform: translateX(-100%); 
      box-shadow: 
      -5px 0 0 -1px rgba(255, 61, 0, 0.9),
      -10px 0 0 -2px rgba(255, 61, 0, 0.8),
      -15px 0 0 -4px rgba(255, 61, 0, 0.6),
      -20px 0 0 -6px rgba(255, 61, 0, 0.4),
      -25px 0 0 -8px rgba(255, 61, 0, 0.2);
  }
  51% {  
      left: 100%; 
      transform: translateX(-100%); 
      box-shadow: 
      5px 0 0 -1px rgba(255, 61, 0, 0.9),
      10px 0 0 -2px rgba(255, 61, 0, 0.8),
      15px 0 0 -4px rgba(255, 61, 0, 0.6),
      20px 0 0 -6px rgba(255, 61, 0, 0.4),
      25px 0 0 -8px rgba(255, 61, 0, 0.2);
  }
  100% {  
      left: 0; 
      transform: translateX(0%); 
      box-shadow: 
      5px 0 0 -1px rgba(255, 61, 0, 0.9),
      10px 0 0 -2px rgba(255, 61, 0, 0.8),
      15px 0 0 -4px rgba(255, 61, 0, 0.6),
      20px 0 0 -6px rgba(255, 61, 0, 0.4),
      25px 0 0 -8px rgba(255, 61, 0, 0.2);
  }
}  


body {
  padding: 0;
  margin: 0;
  font-family: myFirstFont, sans-serif
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.screen {
  width: 100%;
  min-height: 88vh;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.contentArea {
  margin-top: 10px;
  width: 95%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

footer>div {

  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-stamp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 15px;
}

.footer-stamp>img {
  width: 50px;
  height: 50px;
}

.company {
  font-size: 0.8rem;
  color: darkgrey;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 15px;

}

.footer-nav>a {
  font-size: 0.9rem;
  margin: 5px;
  transition: ease 0.3s;
}

.footer-nav>a:hover {
  color: red;

}

.copy-right {
  margin: 20px;
  font-size: 0.8rem;
  color: darkgrey;
}


.loadingScreen {
  display: flex;
  flex-direction: column;
}

.modeChanger{
  cursor: pointer;
  color: red;
  text-decoration: underline;
}