
.homeScreen{
  width: 100%;
  min-height:88vh;
  margin-top: 70px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.contentArea{
  margin-top: 10px;
  width: 90%;
  min-height: 100%; 
  background-color: white;
  border: 1px solid #d8d8d8;
}

